blinker
certifi
charset-normalizer
click
contourpy
cycler
Flask
Flask-SQLAlchemy
fonttools
greenlet
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
requests
six
SQLAlchemy
typing_extensions
tzdata
urllib3
Werkzeug
python-dotenv
psycopg2-binary
